@{
    ViewBag.Title = "About";
}
<h2>Student Planner</h2>
<hr />
<p>Student Planner allows you to keep track of assignments for each course, as well as the due date. Student Planner stores all of your information in a secure database.</p>
