@{
    ViewBag.Title = "Contact";
}
<h2>Questions? Suggestions? Comments?</h2>
<h3>Contact Me</h3>
<hr />
<address>
    Robert Grasso<br />
    Louisville, KY 40229<br />
    Phone: (502) 690-1422
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:robert.grasso85@gmail.com">Support@studentplanner.com</a><br />
</address>