@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron" style="background-color:aliceblue;">
    <h1 style="text-align:center;">Student Planner</h1>
    <hr />
    <p class="lead">Welcome to the Student Planner! Here you will be able to keep track of your classes and homework!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Keep Organized!</h2>
        <p>
            Student Planner will allow you to view your assignments on a weekly basis, as well as track progress of any projects you are currently working on.
        </p>
        <p><a class="btn btn-default" href="#">Try Now! &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Free to use!</h2>
        <p>Student Planner was designed by a student, for students.</p>
        <p><a class="btn btn-default" href="#">Sign up! &raquo;</a></p>
    </div>
</div>