
@{
    ViewBag.Title = "MilestoneOne";
}

<h1>Milestone One</h1>
<br />
<h2>Week 4</h2>
<ul>
    <li>Create a controller and view for Milestone 1</li>
    <li> Edit default layout</li>
    <li>Begin mapping out project using wireframes</li>
</ul>

