
@{
    ViewBag.Title = "MilestoneOne";
}
<br />
<div class="jumbotron" style="background-color:aliceblue">
<h1 style="text-align:center;">Milestone One</h1>
<hr />
<h2>Week 6 - Models</h2>
<ul>
    <li>Create a structure for Student Input for Assignments and Classes.</li>
</ul>
<h2>Week 7 - Forms and HTML Helpers</h2>
<ul>
    <li>Implement forms and create a database to store information.</li>
</ul>
<h2>Week 8 - Data Annotations and Validation</h2>
<ul>
    <li>Create Users and Authentication.</li>
</ul>
<h2>Week 9 - Membership, Authorization, and Security</h2>
<ul>
    <li>Verify Users are working as intended and have access to certain features.</li>
</ul>
<h2>Week 10 - Ajax</h2>
<ul>
    <li>Implement Ajax functionality into the Final Product.</li>
</ul>
</div>

